.form-item {
  margin: 0.25rem 0;
}

#welcome-pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 1rem;
  background-color: black;
}

#welcome-msg {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}

#guest-link {
  margin: 1rem 0;
}

#login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: rgba(127, 205, 255);
}

#form-title {
  margin-top: 0.9rem;
  margin-bottom: 0rem;
}


